doctype html
html
  head
    title JOB OF MY DREAM
    link(href='../node_modules/bootstrap3/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='../static/fontawesome/fontawesome-all.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='../src/owl.carousel/css/owl.carousel.min.css')
    link(rel='stylesheet', type='text/css', href='../style.css')
    link(rel='apple-touch-icon', sizes='180x180', href='./favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='./favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='./favicon/favicon-16x16.png')
    link(rel='manifest', href='./favicon/site.webmanifest')
    link(rel='mask-icon', href='./favicon/safari-pinned-tab.svg', color='#000')
    meta(name='msapplication-TileColor', content='#f0f0f0')
    meta(name='theme-color', content='#ffffff')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    canvas#canvas
    div.backImgs
      // Изображения на заднем фоне
      img.backImgHtml(src='../static/img/html-logo.png')
      img.backImgCss(src='../static/img/css-logo.png')
      img.backImgJs(src='../static/img/js-logo.png')
    #popup1.popup
        .object
          .aboutMy
            .myName Климась Ольга 
            p Дата рождения: 27.09.1991
            p Город: Киев
            p Телефон: 0734178826
            p Электронная почта: olhaklymas@gmail.com
            br
            .caption Образование
            p Высшее
            p  Специальность: «Финансы и кредит»
            p  Учебное заведение: 
            p  Национальный университет государственной налоговой службы Украины
            p  Курсы: «Frontend Developer» в IT-Academy Education
          .myPhoto
            img(src='../static/img/myphoto.jpg')
          br
          br
          .caption  Дополнительная информация
          p  Люблю верстку. Постоянно изучаю новые технологии, совершенствую уже знакомые.
          br
          .capLight  Знаю следующий стек технологий:
          p  HTML5
          p  pug
          p CSS3
          p SASS/SCSS
          p  Crossbrowsing
          p  Responsive/ адаптивная верстка
          p  JavaScript
          p  Unit-test
          br
          .capLight  Умею работать с:
          p npm
          p  webpack
          p  github
          p  Vue.js
          p  Isotop.js
          p  Owl-carusel
          p  Chart.js
          p  Fontawesome
          br
          .capLight  Есть небольшой опыт работы:
          p  JSON
          br
          .caption Личные качества
          p  Ответственная, внимательная, усидчивая, тактичная, целеустремленная, коммуникабельная.
          button#down СОХРАНИТЬ РЕЗЮМЕ
            a(href='./Резюме_Климась_Frontend.doc', download) 
              i.fas.fa-arrow-alt-circle-down(style='color:#fff; font-size:50px;')
    button#myBtn(title='Наверх!')
      i.fas.fa-arrow-circle-up(style='color:#fff; font-size:50px;')
    // Канаты
    #line
      .rope.ropeL
      .rope.ropeR
    // Контейнер с описанием
    div
      h1 &#10023; Работа моей мечты &#10023;
    .description
      h3 Если ты делаешь то, что тебе нравится, ты добьешься успеха!
      hr
      p
        | Работа моей мечты оставляет достаточно времени для семьи, отдыха, саморазвития и оплачивается адекватно. Эта работа связана с изменением деятельности: с определенным балансом психической и физической активности, благоприятным для здоровья и окружающей среды. Она хранит, улучшает и способствует духовному, личному и профессиональному росту. Идеальная работа позволяет мне общаться с людьми и приносить социальные выгоды. Она надежная, постоянная и приносит удовольствие от процесса и результата.
      .content
        button.show_popup#aboutMy(rel='popup1', title='Мое резюме') Больше обо мне
      .overlay_popup
      // Конвертер валюты
      .salaryBox
        .currency
        button#myRates(title='Рассчитать!') Рассчитать!
    // Изотоп
    .upperBlock
      .warpUpperBlock
        h2 Sort
        #filters.button-group
          button.button.is-checked(data-filter='*') Все
          button.button(data-filter='.know') Я знаю
          button.button(data-filter=':not(.know)') Предстоит выучить
          button.button(data-filter='.actual') Актуальные
        h2 Filter
        #sorts.button-group
          button.button.is-checked(data-sort-by='original-order', data-filter='*') Первоначальный список
          button.button(data-sort-by='name') Имя
          button.button(data-filter='.templateers') Шаблонизаторы
          button.button(data-filter='.taskManagers') Менеджеры задач
          button.button(data-filter='.bandlers') Бандлеры
          button.button(data-filter='.frameworksJS') Фреймворки JS
          button.button(data-filter='.preprocessorsCSS') Препроцессоры CSS
          button.button(data-filter='.frameworksCSS') Фреймворки CSS
        .grid
          a(href='https://gulpjs.com/')
            .element-item.taskManagers.actual(data-category='taskManagers')
              h3.name Gulp.js
          a(href='https://www.npmjs.com/')
            .element-item.taskManagers.know.actual(data-category='taskManagers')
              h3.name npm
          a(href='https://webpack.js.org/')
            .element-item.bandlers.know.actual(data-category='bandlers')
              h3.name Webpack
          a(href='https://jquery.com/')
            .element-item.frameworksJS.know.actual(data-category='frameworksJS')
              h3.name jQuery
          a(href='https://gruntjs.com/')
            .element-item.taskManagers.actual(data-category='taskManagers')
              h3.name Grunt
          a(href='https://reactjs.org/')
            .element-item.frameworksJS.actual(data-category='frameworksJS')
              h3.name React
          a(href='http://browserify.org/')
            .element-item.bandlers.actual(data-category='bandlers')
              h3.name Browserify
          a(href='https://www.emberjs.com/')
            .element-item.frameworksJS(data-category='frameworksJS')
              h3.name Ember.js
          a(href='http://requirejs.org/')
            .element-item.bandlers(data-category='bandlers')
              h3.name RequireJS
          a(href='https://sass-scss.ru/')
            .element-item.preprocessorsCSS.know.actual(data-category='preprocessorsCSS')
              h3.name SASS
          a(href='http://stylus-lang.com/')
            .element-item.preprocessorsCSS(data-category='preprocessorsCSS')
              h3.name Stylus
          a(href='https://getbootstrap.com/')
            .element-item.frameworksCSS.know.actual(data-category='frameworksCSS')
              h3.name Bootstrap
          a(href='https://www.meteor.com/')
            .element-item.frameworksJS(data-category='frameworksJS')
              h3.name Meteor.js
          a(href='https://foundation.zurb.com/')
            .element-item.frameworksCSS(data-category='frameworksCSS')
              h3.name Foundation
          a(href='https://angular.io/')
            .element-item.frameworksJS.actual(data-category='frameworksJS')
              h3.name Angular2
          a(href='http://lesscss.org/')
            .element-item.preprocessorsCSS.know(data-category='preprocessorsCSS')
              h3.name Less
          a(href='https://vuejs.org/')
            .element-item.frameworksJS.know.actual(data-category='frameworksJS')
              h3.name Vue.js
          a(href='http://susy.oddbird.net/')
            .element-item.frameworksCSS.actual(data-category='frameworksCSS')
              h3.name Susy
          a(href='http://jade-lang.com/')
            .element-item.templateers.know.actual(data-category='templateers')
              h3.name Jade
          a(href='http://websketches.ru/plugins/hoganjs')
            .element-item.templateers(data-category='templateers')
              h3.name Hogan
          a(href='https://pure-js.com/')
            .element-item.frameworksCSS.actual(data-category='frameworksCSS')
              h3.name Pure
          a(href='https://github.com/janl/mustache.js/')
            .element-item.templateers(data-category='templateers')
              h3.name Mustache
          a(href='http://federicoweber.com/notes/walrus_javascript.html')
            .element-item.templateers(data-category='templateers')
              h3.name Walrus
          a(href='http://www.dustjs.com/')
            .element-item.templateers.actual(data-category='templateers')
              h3.name Dust
    // График и диаграмма
    .middleBlock
      .warpMiddleBlock
        .radialCanvas
          h5 Соотношение знаний и актуальности
          canvas#radialChart(width='300', height='300')
        .polarCanvas
          h5 Степень владения технологией
          canvas#polarChart(width='300', height='300')
    // Слайдер
    .sliderBlock
      .warpSliderBlock
        .slider-holder
          .owl-carousel
            .slider
              img(src='../static/img/slid1.png')
            .slider
              img(src='../static/img/slid2.png')
            .slider
              img(src='../static/img/slid3.png')
            .slider
              img(src='../static/img/slid4.png')
            .slider
              img(src='../static/img/slid5.png')
            .slider
              img(src='../static/img/slid6.png')
            .slider
              img(src='../static/img/slid7.png')
            .slider
              img(src='../static/img/slid8.png')
          .controls
            .arrow
              i#right.fas.fa-angle-double-right.fa-3x(style='color:#a06d12;')
            .arrow
              i#left.fas.fa-angle-double-left.fa-3x(style='color:#a06d12;')
    .lowerBlock
    #footer
      .myInfo
        .top 
          p 073 417 88 26 
          i.fas.fa-phone-square(style='color:#fff; font-size:60px; margin: 0px 10px;')
          br
          i.fas.fa-envelope-square(style='color:#fff; font-size:60px;')
          p olhaklymas@gmail.com
      .myInfo
        .bot 
          a(href='https://github.com/OlhaKlymas/')
            i.fab.fa-github-square(style='color:#fff; font-size:60px;')
          a(href='#')
            i.fab.fa-linkedin(style='color:#fff; font-size:60px;')
    #base   
    script(src='../node_modules/jquery/dist/jquery.min.js')
    script(src='../node_modules/bootstrap3/dist/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js')
    script(src='../src/owl.carousel/js/owl.carousel.min.js')
    script(defer='', src='../static/fontawesome/fontawesome-all.js') 