doctype html
html
  head
    title JOB OF MY DREAM
    link(href='../node_modules/bootstrap3/dist/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='../style.css')

    link(href='../static/fontawesome/fontawesome-all.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='../src/css/owl.carousel.min.css')
  body
    div.backImgs
      // Изображения на заднем фоне
      img.backImgHtml(src='../static/img/html-logo.png')
      img.backImgCss(src='../static/img/css-logo.png')
      img.backImgJs(src='../static/img/js-logo.png')
    // Канаты
    #line
      .rope.ropeL
      .rope.ropeR
    // Контейнер с описанием
    div
      h1 &#10023; JOB OF MY DREAM &#10023;
    .description
      h3 If you do what you like, you will be successful
      hr
      p
        | It leaves enough time for family, recreation, self-development and is paid adequately. This job is with the change of activity: with a certain balance of mental and physical activity, favorable to health and the environment. It stores, enhances and promotes spiritual, personal and professional growth. An ideal job allows me to communicate with people and brings social benefits. It is reliable, constant and brings the pleasure of the process and the outcome.
      div.iSS
        a(href='https://github.com/OlhaKlymas/').iconSS
          i.fab.fa-github-square(style='color:#fff; font-size:50px;')
        a(href='https://www.instagram.com/olgaklimass/').iconSS
          i.fab.fa-instagram(style='color:#fff; font-size:50px;')
        a(href='https://www.facebook.com/profile.php?id=100005255894654').iconSS
          i.fab.fa-facebook-square(style='color:#fff; font-size:50px;')
      // Версия для печати
      div.printIcon 
        i.fas.fa-print
      // Конвертер валюты
      .container.mail-panel
        .col-md-offset-4.col-md-4.panel
          .row.header for a start I will agree to a salary
          .row
            .col-md-2 Amount:
            .col-md-10
              input#amount.form-control(type='text' value='1000')
          .row
            .col-md-2 From:
            .col-md-4
              select#from
            .col-md-2 To:
            .col-md-4
              select#to
          .row
            | Result:
            span#result
    // Изотоп
    .upperBlock
      .warpUpperBlock
        h2 Sort
        #filters.button-group
          button.button.is-checked(data-filter='*') show all
          button.button(data-filter='.know') I know
          button.button(data-filter=':not(.know)') I want to learn
          button.button(data-filter='.actual') actual
        h2 Filter
        #sorts.button-group
          button.button.is-checked(data-sort-by='original-order', data-filter='*') original order
          button.button(data-sort-by='name') name
          button.button(data-filter='templateers') templateers
          button.button(data-filter='taskManagers') task managers
          button.button(data-filter='bandlers') bandlers
          button.button(data-filter='frameworksJS') frameworks JS
          button.button(data-filter='preprocessorsCSS') preprocessors CSS
          button.button(data-filter='frameworksCSS') frameworks CSS
        .grid
          a(href='https://gulpjs.com/')
            .element-item.taskManagers.actual(data-category='taskManagers')
              h3.name Gulp.js
          a(href='https://www.npmjs.com/')
            .element-item.taskManagers.know.actual(data-category='taskManagers')
              h3.name npm
          a(href='https://webpack.js.org/')
            .element-item.bandlers.know.actual(data-category='bandlers')
              h3.name Webpack
          a(href='https://jquery.com/')
            .element-item.frameworksJS.know.actual(data-category='frameworksJS')
              h3.name jQuery
          a(href='https://gruntjs.com/')
            .element-item.taskManagers.actual(data-category='taskManagers')
              h3.name Grunt
          a(href='https://reactjs.org/')
            .element-item.frameworksJS.actual(data-category='frameworksJS')
              h3.name React
          a(href='http://browserify.org/')
            .element-item.bandlers.actual(data-category='bandlers')
              h3.name Browserify
          a(href='https://www.emberjs.com/')
            .element-item.frameworksJS(data-category='frameworksJS')
              h3.name Ember.js
          a(href='http://requirejs.org/')
            .element-item.bandlers(data-category='bandlers')
              h3.name RequireJS
          a(href='https://sass-scss.ru/')
            .element-item.preprocessorsCSS.know.actual(data-category='preprocessorsCSS')
              h3.name SASS
          a(href='http://stylus-lang.com/')
            .element-item.preprocessorsCSS(data-category='preprocessorsCSS')
              h3.name Stylus
          a(href='https://getbootstrap.com/')
            .element-item.frameworksCSS.know.actual(data-category='frameworksCSS')
              h3.name Bootstrap
          a(href='https://www.meteor.com/')
            .element-item.frameworksJS(data-category='frameworksJS')
              h3.name Meteor.js
          a(href='https://foundation.zurb.com/')
            .element-item.frameworksCSS(data-category='frameworksCSS')
              h3.name Foundation
          a(href='https://angular.io/')
            .element-item.frameworksJS.actual(data-category='frameworksJS')
              h3.name Angular2
          a(href='http://lesscss.org/')
            .element-item.preprocessorsCSS.know(data-category='preprocessorsCSS')
              h3.name Less
          a(href='https://vuejs.org/')
            .element-item.frameworksJS.know.actual(data-category='frameworksJS')
              h3.name Vue.js
          a(href='http://susy.oddbird.net/')
            .element-item.frameworksCSS.actual(data-category='frameworksCSS')
              h3.name Susy
          a(href='http://jade-lang.com/')
            .element-item.templateers.know.actual(data-category='templateers')
              h3.name Jade
          a(href='http://websketches.ru/plugins/hoganjs')
            .element-item.templateers(data-category='templateers')
              h3.name Hogan
          a(href='https://pure-js.com/')
            .element-item.frameworksCSS.actual(data-category='frameworksCSS')
              h3.name Pure
          a(href='https://github.com/janl/mustache.js/')
            .element-item.templateers(data-category='templateers')
              h3.name Mustache
          a(href='http://federicoweber.com/notes/walrus_javascript.html')
            .element-item.templateers(data-category='templateers')
              h3.name Walrus
          a(href='http://www.dustjs.com/')
            .element-item.templateers.actual(data-category='templateers')
              h3.name Dust
    // Изотоп для печати
    #technology
    
    // График и диаграмма
    .middleBlock
      .warpMiddleBlock
        .radialCanvas
          h5 Сorrelation of knowledge and relevance
          canvas#radialChart(width='300', height='300')
        .polarCanvas
          h5 Degree of ownership of technology
          canvas#polarChart(width='300', height='300')
    // Слайдер
    .sliderBlock
      .warpSliderBlock
        .slider-holder
          .owl-carousel
            .slider
              img(src='../static/img/html-logo.png')
            .slider
              img(src='../static/img/css-logo.png')
            .slider
              img(src='../static/img/js-logo.png')
            .slider
              img(src='../static/img/html-logo.png')
            .slider
              img(src='../static/img/css-logo.png')
            .slider
              img(src='../static/img/js-logo.png')
            .slider
              img(src='../static/img/html-logo.png')
            .slider
              img(src='../static/img/css-logo.png')
          .controls
            .arrow
              i#right.fas.fa-angle-double-right.fa-7x(style='color:violet;')
            .arrow
              i#left.fas.fa-angle-double-left.fa-7x
    .lowerBlock
    .footer
    #base
    script(src='../node_modules/jquery/dist/jquery.min.js')
    script(src='../node_modules/bootstrap3/dist/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js')
    script(src='https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js')
    script(src='https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js')
    script(src='../src/js/owl.carousel.min.js')
    script(defer='', src='../static/fontawesome/fontawesome-all.js')